config.status
configure
depcomp
install-sh
missing
compile
config.h
config.log
autom4te.cache
aclocal.m4
Makefile.in
Makefile
config.guess
config.sub
libtool
m4
ar-lib
ltmain.sh
src/.deps
src/function_objects/.deps
src/.libs
*.lo
imfit
makeimage
libimfit.la
